.counter,
.wrapperIcon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.counter {
  height: 8px;
  width: 8px;
  display: none;
  z-index: 0;
}
.wrapperIcon {
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.iconWrapper {
  background-color: var(--hitbox);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  position: relative;
  line-height: 26px;
}
.button {
  height: 60px;
  width: 400px;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-3);
  box-shadow: var(--drop-shadow-button-secondary);
  border: 1px solid var(--neutral-5);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-11xl);
  gap: var(--gap-3xs);
  max-width: 100%;
  z-index: 1;
  text-align: center;
}
.forgotPassword {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
}
.enter6DigitContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 24px;
}
.forgotPasswordParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--caption-m-size);
  color: var(--neutral-10);
}
.label {
  width: 0;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.starfilledIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer,
.icon {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder,
.value {
  position: relative;
  line-height: 24px;
}
.value {
  flex: 1;
}
.placeholder {
  height: 48px;
  width: 110px;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: none;
  white-space: nowrap;
}
.removeredeyefilledIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adornEndContainer {
  height: 1px;
  width: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.minWidth {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--button-m-size);
  color: var(--text-primary);
}
.newPasswordInstructions {
  width: 40px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
  box-sizing: border-box;
}
.input {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  box-sizing: border-box;
  gap: var(--gap-7xs-5);
}
.helperText {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext,
.textfield {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.textfield {
  width: 40px;
  display: flex;
  flex-direction: row;
}
.label1 {
  width: 0;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.starfilledIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer1,
.icon1 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer1 {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight1 {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder1,
.value1 {
  position: relative;
  line-height: 24px;
}
.value1 {
  flex: 1;
}
.placeholder1 {
  height: 48px;
  width: 110px;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: none;
  white-space: nowrap;
}
.removeredeyefilledIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adornEndContainer1 {
  height: 1px;
  width: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.minWidth1 {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--button-m-size);
  color: var(--text-primary);
}
.input1,
.underline {
  box-sizing: border-box;
}
.underline {
  width: 40px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
}
.input1 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  gap: var(--gap-7xs-5);
}
.helperText1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext1,
.textfield1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext1 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.textfield1 {
  width: 40px;
  display: flex;
  flex-direction: row;
}
.label2 {
  width: 0;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.starfilledIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer2,
.icon2 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer2 {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight2 {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder2,
.value2 {
  position: relative;
  line-height: 24px;
}
.value2 {
  flex: 1;
}
.placeholder2 {
  height: 48px;
  width: 110px;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: none;
  white-space: nowrap;
}
.removeredeyefilledIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adornEndContainer2 {
  height: 1px;
  width: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.minWidth2 {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--button-m-size);
  color: var(--text-primary);
}
.input2,
.underline1 {
  box-sizing: border-box;
}
.underline1 {
  width: 40px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
}
.input2 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  gap: var(--gap-7xs-5);
}
.helperText2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext2,
.textfield2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext2 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.textfield2 {
  width: 40px;
  display: flex;
  flex-direction: row;
}
.label3 {
  width: 0;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.starfilledIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer3,
.icon3 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer3 {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight3 {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder3,
.value3 {
  position: relative;
  line-height: 24px;
}
.value3 {
  flex: 1;
}
.placeholder3 {
  height: 48px;
  width: 110px;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: none;
  white-space: nowrap;
}
.removeredeyefilledIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adornEndContainer3 {
  height: 1px;
  width: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.minWidth3 {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--button-m-size);
  color: var(--text-primary);
}
.input3,
.underline2 {
  box-sizing: border-box;
}
.underline2 {
  width: 40px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
}
.input3 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  gap: var(--gap-7xs-5);
}
.helperText3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext3,
.textfield3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext3 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.textfield3 {
  width: 40px;
  display: flex;
  flex-direction: row;
}
.label4 {
  width: 0;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.starfilledIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer4,
.icon4 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer4 {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight4 {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder4,
.value4 {
  position: relative;
  line-height: 24px;
}
.value4 {
  flex: 1;
}
.placeholder4 {
  height: 48px;
  width: 110px;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: none;
  white-space: nowrap;
}
.removeredeyefilledIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adornEndContainer4 {
  height: 1px;
  width: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.minWidth4 {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--button-m-size);
  color: var(--text-primary);
}
.input4,
.underline3 {
  box-sizing: border-box;
}
.underline3 {
  width: 40px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
}
.input4 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  gap: var(--gap-7xs-5);
}
.helperText4 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext4,
.textfield4 {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext4 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.textfield4 {
  width: 40px;
  display: flex;
  flex-direction: row;
}
.label5 {
  width: 0;
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.starfilledIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer5,
.icon5 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer5 {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight5 {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder5,
.value5 {
  position: relative;
  line-height: 24px;
}
.value5 {
  flex: 1;
}
.placeholder5 {
  height: 48px;
  width: 110px;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: none;
  white-space: nowrap;
}
.removeredeyefilledIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.adornEndContainer5 {
  height: 1px;
  width: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.minWidth5 {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--button-m-size);
  color: var(--text-primary);
}
.input5,
.underline4 {
  box-sizing: border-box;
}
.underline4 {
  width: 40px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
}
.input5 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  gap: var(--gap-7xs-5);
}
.helperText5 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext5 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.otpFields,
.textfield5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.textfield5 {
  width: 40px;
  justify-content: flex-start;
}
.otpFields {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.reSendIn {
  flex: 1;
  display: inline-block;
  min-width: 63px;
}
.div,
.div1,
.reSendIn {
  position: relative;
  line-height: 18px;
}
.div {
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 19px;
}
.div1 {
  width: 15px;
  display: inline-block;
  min-width: 15px;
  z-index: 1;
}
.parent,
.reSendInParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.reSendInParent {
  width: 105px;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--m3-black);
}
.label6 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 81px;
}
.starfilledIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer6,
.icon6 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer6 {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight6 {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder6,
.value6 {
  position: relative;
  line-height: 24px;
}
.value6 {
  align-self: stretch;
  width: 220px;
  letter-spacing: 0.15px;
  display: none;
}
.placeholder6 {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--web-secondary-buttonlarge);
  font-size: var(--button-m-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: inline-block;
  min-width: 244px;
  max-width: 100%;
  padding: 0;
}
.removeredeyefilledIcon6 {
  height: 24px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 12px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.adornEndContainer6,
.characterTypeContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornEndContainer6 {
  width: 24px;
  height: 1px;
  flex-direction: row;
  position: relative;
}
.characterTypeContainer {
  flex-direction: column;
  padding: var(--padding-xs-5) 0 0;
}
.minWidth6 {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
  font-size: var(--button-m-size);
  color: var(--text-primary);
  font-family: var(--heading-2);
}
.passwordMeter {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
  box-sizing: border-box;
}
.input6 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  box-sizing: border-box;
  gap: var(--gap-7xs-5);
  max-width: 100%;
}
.helperText6 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext6,
.textfield6 {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext6 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.textfield6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.label7 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 101px;
}
.starfilledIcon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer7,
.icon7 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer7 {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight7 {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder7,
.value7 {
  position: relative;
  line-height: 24px;
}
.value7 {
  align-self: stretch;
  width: 220px;
  letter-spacing: 0.15px;
  display: none;
}
.placeholder7 {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--web-secondary-buttonlarge);
  font-size: var(--button-m-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--m3-ref-neutral-neutral20);
  text-align: left;
  display: inline-block;
  min-width: 244px;
  max-width: 100%;
  padding: 0;
}
.removeredeyefilledIcon7 {
  height: 24px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 12px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.adornEndContainer7,
.characterTypeContainer1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornEndContainer7 {
  width: 24px;
  height: 1px;
  flex-direction: row;
  position: relative;
}
.characterTypeContainer1 {
  flex-direction: column;
  padding: var(--padding-xs-5) 0 0;
}
.minWidth7 {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
  font-size: var(--button-m-size);
  color: var(--text-primary);
  font-family: var(--heading-2);
}
.input7,
.underline5 {
  box-sizing: border-box;
}
.underline5 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
}
.input7 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  gap: var(--gap-7xs-5);
  max-width: 100%;
}
.helperText7 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.formhelpertext7,
.textfield7 {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext7 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--heading-2);
}
.textfield7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.assistiveText {
  align-self: stretch;
  height: 19px;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.barRed {
  height: 4px;
  flex: 1;
  position: relative;
  background-color: var(--grey-grey-300);
}
.component2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 86px;
  max-width: 94px;
}
.barRed1 {
  height: 4px;
  flex: 1;
  position: relative;
  background-color: var(--grey-grey-300);
}
.bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 86px;
  max-width: 94px;
}
.barGreen {
  height: 4px;
  flex: 1;
  position: relative;
  background-color: var(--grey-grey-300);
}
.component4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 86px;
  max-width: 94px;
}
.barGreen1 {
  height: 4px;
  flex: 1;
  position: relative;
  background-color: var(--grey-grey-300);
}
.component2Parent,
.component5,
.passwordMeter1,
.uppercaseHint {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component5 {
  flex: 1;
  flex-direction: row;
  min-width: 86px;
  max-width: 94px;
}
.component2Parent,
.passwordMeter1,
.uppercaseHint {
  align-self: stretch;
}
.component2Parent {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.passwordMeter1,
.uppercaseHint {
  flex-direction: column;
}
.passwordMeter1 {
  gap: var(--gap-5xs);
  font-size: var(--button-m-size);
  color: var(--grey-grey-600);
}
.uppercaseHint {
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--body-xs-size);
}
.yourPasswordMust {
  position: relative;
  line-height: 22px;
  color: var(--m3-black);
}
.infoIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.characters {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 92px;
}
.infoIcon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.charactersInstructions,
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.charactersInstructions {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.infoIcon2 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.infoFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.numeric {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 63px;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.infoIcon3 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.infoWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frameDiv,
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameDiv {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.wrapperIcon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.buttonInstance,
.iconWrapper1 {
  display: flex;
  flex-direction: column;
}
.iconWrapper1 {
  background-color: var(--hitbox);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.buttonInstance {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.text1 {
  width: 100px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 100px;
}
.button1,
.frameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  box-shadow: var(--drop-shadow-button-secondary);
  border: 1px solid var(--neutral-5);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-3xs);
  text-align: center;
  color: var(--neutral-9);
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  gap: 26px;
}
.specialCharacter,
.uppercase {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 79px;
}
.specialCharacter {
  min-width: 124px;
}
.frameGroup,
.uppercaseCharact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frameGroup {
  width: 306px;
  flex-direction: row;
  gap: var(--gap-5xs);
  color: var(--neutral-10);
}
.uppercaseHintParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--m3-label-large-size);
}
.consumerResetPasswordInner,
.frameParent,
.uppercaseHintParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xl);
}
.consumerResetPasswordInner {
  width: 400px;
  align-items: flex-start;
  padding: 132.5px 0 0;
  box-sizing: border-box;
  min-width: 400px;
  font-size: var(--body-xs-size);
  color: var(--text-secondary);
}
.consumerResetPasswordChild {
  height: 588.5px;
  width: 663.6px;
  position: absolute;
  margin: 0 !important;
  right: 42.4px;
  bottom: -13px;
  z-index: 2;
}
.subtractIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.theHealersIcon,
.theHealersLogo {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.theHealersLogo {
  height: 47px;
  width: 47.4px;
}
.theHealersIcon {
  align-self: stretch;
  height: 22.5px;
  max-width: 100%;
}
.theHealersLog {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-2);
}
.logo,
.logoWrapper {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 236px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi-4);
  z-index: 1;
}
.logoWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
}
.exploreLocalOfferings {
  margin: 0;
  width: 520px;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.consumerResetPassword,
.subtractBtn {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.subtractBtn {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xl) 0 var(--padding-466xl) var(--padding-21xl);
  gap: var(--gap-35xl);
  min-width: 390px;
  max-width: 100%;
  font-size: var(--web-primary-h2-primary-dm-sans-size);
  color: var(--m3-black);
}
.consumerResetPassword {
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-61xl) var(--padding-61xl) var(--padding-61xl)
    var(--padding-144xl);
  gap: 197px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--web-secondary-buttonlarge-size);
  color: var(--character-disabled-placeholder-25);
  font-family: var(--web-secondary-buttonlarge);
}
@media screen and (max-width: 1125px) {
  .consumerResetPasswordInner {
    flex: 1;
  }
  .consumerResetPassword {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .exploreLocalOfferings {
    font-size: var(--font-size-19xl);
    line-height: 51px;
  }
  .subtractBtn {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-296xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .consumerResetPasswordInner {
    padding-top: 86px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .subtractBtn {
    gap: 27px 54px;
    min-width: 100%;
  }
  .consumerResetPassword {
    gap: 197px 98px;
    padding-left: var(--padding-62xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgotPassword {
    font-size: var(--button-m-size);
    line-height: 24px;
  }
  .content6,
  .otpFields {
    flex-wrap: wrap;
  }
  .input6 {
    height: auto;
  }
  .content7 {
    flex-wrap: wrap;
  }
  .input7 {
    height: auto;
  }
  .component2Parent {
    flex-wrap: wrap;
  }
  .exploreLocalOfferings {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .subtractBtn {
    padding-bottom: var(--padding-186xl);
    box-sizing: border-box;
  }
  .consumerResetPassword {
    gap: 197px 49px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
