.consumerSignInChild {
  height: 588.5px;
  width: 663.6px;
  position: absolute;
  margin: 0 !important;
  right: 42.4px;
  bottom: -13px;
  z-index: 1;
}
.consumerSignIn,
.consumerSignInInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.consumerSignInInner {
  width: 470px;
  flex-direction: column;
  padding: 114px 0 0;
  min-width: 470px;
  max-width: 100%;
}
.consumerSignIn {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-61xl) var(--padding-61xl) var(--padding-61xl)
    var(--padding-144xl);
  gap: 127px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .consumerSignInInner {
    flex: 1;
  }
  .consumerSignIn {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .consumerSignInInner {
    padding-top: 74px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .consumerSignIn {
    gap: 127px 63px;
    padding-left: var(--padding-62xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .consumerSignIn {
    gap: 127px 32px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
