.h3 {
  margin: 0;
  position: relative;
  font-size: var(--web-primary-h3-primary-dm-sans-size);
  line-height: 48px;
  font-weight: 700;
  color: var(--m3-black);
  text-align: left;
}
.content,
.h3,
.label {
  font-family: var(--web-secondary-buttonlarge);
}
.label {
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 18px;
  color: var(--text-secondary);
  text-align: left;
  display: inline-block;
  min-width: 30px;
}
.content {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--button-m-size);
  color: var(--m3-ref-neutral-neutral20);
  min-width: 250px;
}
.input,
.underline {
  box-sizing: border-box;
}
.underline {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
}
.input {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  gap: var(--gap-7xs-5);
  max-width: 100%;
}
.helperText {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--heading-2);
  color: var(--text-secondary);
  text-align: left;
}
.formhelpertext,
.h3Parent,
.textfield {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.h3Parent,
.textfield {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.h3Parent {
  flex-direction: column;
  gap: var(--gap-base);
}
.label1 {
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 18px;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--text-secondary);
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.starfilledIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.adornStartContainer,
.icon {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornStartContainer {
  height: 1px;
  width: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.minHeight {
  height: 24px;
  width: 0;
  position: relative;
  display: none;
}
.placeholder,
.value {
  font-size: var(--button-m-size);
  position: relative;
  line-height: 24px;
  text-align: left;
}
.value {
  align-self: stretch;
  width: 220px;
  letter-spacing: 0.15px;
  font-family: var(--heading-2);
  color: var(--text-primary);
  display: none;
}
.placeholder {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--web-secondary-buttonlarge);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--m3-ref-neutral-neutral20);
  display: inline-block;
  min-width: 290px;
  max-width: 100%;
  padding: 0;
}
.removeredeyefilledIcon {
  height: 24px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 12px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.adornEndContainer,
.adornEndContainerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.adornEndContainer {
  width: 24px;
  height: 1px;
  flex-direction: row;
  position: relative;
}
.adornEndContainerWrapper {
  flex-direction: column;
  padding: var(--padding-xs-5) 0 0;
}
.minWidth {
  height: 0;
  width: 24px;
  position: relative;
  display: none;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.buttonInstance {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--input-standard-enabledborder);
  box-sizing: border-box;
}
.input1 {
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-5);
  box-sizing: border-box;
  gap: var(--gap-7xs-5);
  max-width: 100%;
}
.helperText1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  letter-spacing: 0.4px;
  line-height: 166%;
  font-family: var(--heading-2);
  color: var(--text-secondary);
  text-align: left;
}
.formhelpertext1,
.textfield1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.formhelpertext1 {
  height: 20px;
  width: 220px;
  display: none;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.textfield1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.checkboxfilled {
  accent-color: #3da3f5;
  margin: 0;
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.padding {
  height: 46px;
  width: 46px;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs);
  box-sizing: border-box;
}
.label2 {
  position: relative;
  font-size: var(--m3-label-large-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
  min-width: 126px;
}
.checkbox,
.labelWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelWrapper {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.checkbox {
  overflow: hidden;
  flex-direction: row;
}
.wrapperIcon {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.iconWrapper {
  background-color: var(--hitbox);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  width: 119px;
  position: relative;
  font-size: var(--m3-label-large-size);
  text-decoration: underline;
  line-height: 22px;
  font-weight: 600;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--consumer-colors-complemantary);
  text-align: center;
  display: inline-block;
  min-width: 119px;
}
.button {
  align-self: stretch;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xl);
  gap: var(--gap-3xs);
}
.frameChild {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--neutral-3);
  box-sizing: border-box;
}
.lineWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 141px;
}
.frameItem,
.or {
  position: relative;
}
.or {
  font-size: var(--body-xs-size);
  line-height: 18px;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--neutral-10);
  text-align: left;
  display: inline-block;
  min-width: 14px;
}
.frameItem {
  align-self: stretch;
  height: 2px;
  border-top: 2px solid var(--neutral-3);
  box-sizing: border-box;
}
.frameGroup,
.lineContainer {
  display: flex;
  align-items: flex-start;
}
.lineContainer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 141px;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-2xs);
}
.icons8Google1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.signUpWith {
  position: relative;
  font-size: var(--m3-label-large-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--neutral-10);
  text-align: left;
}
.content2,
.googleButton {
  display: flex;
  align-items: center;
}
.content2 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-3xs);
}
.googleButton {
  cursor: pointer;
  border: 1px solid var(--neutral-5);
  padding: var(--padding-5xs) var(--padding-9xl);
  background-color: transparent;
  flex: 0.9037;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  min-width: 148px;
}
.facebookIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.signUpWith1 {
  position: relative;
  font-size: var(--m3-label-large-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--neutral-10);
  text-align: left;
}
.content3 {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.content3,
.facebookButton,
.socialMediaButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebookButton {
  cursor: pointer;
  border: 1px solid var(--neutral-5);
  padding: var(--padding-5xs) var(--padding-lgi);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  min-width: 148px;
}
.socialMediaButtons {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.dontHaveAn,
.signUp {
  position: relative;
  font-size: var(--m3-label-large-size);
  line-height: 22px;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--color-gray-100);
  text-align: left;
}
.signUp {
  text-decoration: underline;
  font-weight: 600;
  color: var(--consumer-colors-complemantary);
  display: inline-block;
  min-width: 51px;
  white-space: nowrap;
}
.dontHaveAnAccountParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.wrapperIcon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.iconWrapper1,
.subtractSymbol {
  display: flex;
  flex-direction: column;
}
.iconWrapper1 {
  background-color: var(--hitbox);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.subtractSymbol {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.text1 {
  width: 94px;
  position: relative;
  font-size: var(--m3-label-large-size);
  line-height: 24px;
  display: inline-block;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--neutral-9);
  text-align: center;
  min-width: 94px;
}
.button1,
.checkboxParent,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--neutral-5);
  padding: var(--padding-4xs) var(--padding-base);
  background-color: var(--white);
  border-radius: var(--br-9xs);
  box-shadow: var(--drop-shadow-button-secondary);
  flex-direction: row;
  gap: var(--gap-3xs);
}
.checkboxParent,
.frameParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.frameParent {
  margin: 0;
  gap: var(--gap-13xl);
  max-width: 100%;
}
@media screen and (max-width: 1050px) {
  .h3 {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .content1 {
    flex-wrap: wrap;
  }
  .input1 {
    height: auto;
  }
  .or {
    width: 100%;
    height: 14px;
  }
  .frameGroup,
  .socialMediaButtons {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: 16px 32px;
  }
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .googleButton {
    flex: 1;
  }
}
