.letsShiftYour {
  position: relative;
  letter-spacing: 1.63px;
  text-transform: uppercase;
}
.shiftYourBusiness {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-41xl);
  letter-spacing: -2px;
  line-height: 65px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-100);
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.withLotsOf {
  width: 566px;
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.2px;
  line-height: 32px;
  color: var(--color-gray-400);
  display: inline-block;
  mix-blend-mode: normal;
  max-width: 100%;
}
.wrapperIcon {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.iconWrapper {
  background-color: var(--hitbox);
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  width: 171px;
  position: relative;
  font-size: var(--web-secondary-buttonlarge-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--default-white);
  text-align: center;
}
.button,
.content {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--vendor-colors-monochromatic);
  padding: var(--padding-mid) var(--padding-11xl);
  background-color: var(--vendor-colors-monochromatic);
  border-radius: var(--br-9xs);
  box-shadow: var(--drop-shadow-button-primary);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.content {
  width: 664px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-53xl-5) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 664px;
  max-width: 100%;
}
.imageIcon {
  width: 463px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.innerDiv {
  width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.hero,
.heroWrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.hero {
  flex: 1;
  background-color: var(--color-ghostwhite);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-37xl) var(--padding-xl);
}
.heroWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-37xl);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--vendor-colors-triadic);
  font-family: var(--web-secondary-buttonlarge);
}
@media screen and (max-width: 1225px) {
  .content,
  .imageIcon {
    flex: 1;
  }
  .innerDiv {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .shiftYourBusiness {
    font-size: var(--font-size-29xl);
    line-height: 52px;
  }
  .content {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .hero {
    padding-top: var(--padding-17xl);
  }
  .hero,
  .heroWrapper {
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .shiftYourBusiness {
    font-size: var(--font-size-17xl);
    line-height: 39px;
  }
}
