.paragraph {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: inherit;
}
.iconWrapper,
.wrapperIcon {
  height: 14px;
  overflow: hidden;
}
.wrapperIcon {
  width: 14px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.iconWrapper {
  background-color: var(--hitbox);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  width: 172px;
  position: relative;
  font-size: var(--web-secondary-buttonlarge-size);
  line-height: 26px;
  display: inline-block;
  font-family: var(--web-secondary-buttonlarge);
  color: var(--white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--consumer-colors-primary-6);
  padding: var(--padding-6xs) var(--padding-base);
  background-color: var(--consumer-colors-primary-6);
  border-radius: var(--br-9xs);
  box-shadow: var(--drop-shadow-button-primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.innerDiv,
.joinAsPractitioner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.innerDiv {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.joinAsPractitioner {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  overflow: hidden;
  padding: var(--padding-37xl) var(--padding-81xl);
  box-sizing: border-box;
  background-image: url(/public/join-as-practitioner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 500px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--web-secondary-buttonlarge);
}
@media screen and (max-width: 450px) {
  .paragraph {
    font-size: var(--font-size-lgi);
  }
}
