.peopleChooseUs,
.whyChooseUs1 {
  position: relative;
  display: inline-block;
}
.whyChooseUs1 {
  width: 130px;
  letter-spacing: 1.63px;
  text-transform: uppercase;
}
.peopleChooseUs {
  margin: 0;
  width: 521px;
  font-size: var(--font-size-17xl);
  letter-spacing: -1.2px;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-100);
  max-width: 100%;
}
.title {
  width: 1240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.icon {
  height: 80px;
  width: 80px;
  position: relative;
}
.organizedTasks,
.withLotsOf {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32px;
}
.withLotsOf {
  align-self: stretch;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 29px;
  color: var(--color-gray-300);
  mix-blend-mode: normal;
}
.reason01,
.text {
  display: flex;
  justify-content: flex-start;
}
.text {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 195px;
}
.reason01 {
  width: 428px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.icon1 {
  height: 79px;
  width: 79px;
  position: relative;
}
.organizedTasks1,
.withLotsOf1 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32px;
}
.withLotsOf1 {
  align-self: stretch;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 29px;
  color: var(--color-gray-300);
  mix-blend-mode: normal;
}
.reason02,
.text1 {
  display: flex;
  justify-content: flex-start;
}
.text1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 195px;
}
.reason02 {
  width: 428px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.icon2 {
  height: 79px;
  width: 79px;
  position: relative;
}
.organizedTasks2,
.withLotsOf2 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32px;
}
.withLotsOf2 {
  align-self: stretch;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 29px;
  color: var(--color-gray-300);
  mix-blend-mode: normal;
}
.reason03,
.text2 {
  display: flex;
  justify-content: flex-start;
}
.text2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 195px;
}
.reason03 {
  width: 428px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.icon3 {
  height: 79px;
  width: 79px;
  position: relative;
}
.organizedTasks3,
.withLotsOf3 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32px;
}
.withLotsOf3 {
  width: 300px;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 29px;
  color: var(--color-gray-300);
  display: inline-block;
  mix-blend-mode: normal;
}
.reason04,
.text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.reason04 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.content,
.whyChooseUs {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.content {
  width: 1240px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 var(--padding-145xl);
  min-height: 236px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-100);
}
.whyChooseUs {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-37xl) 0;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--consumer-colors-monochromatic);
  font-family: var(--web-secondary-buttonlarge);
}
@media screen and (max-width: 1225px) {
  .content {
    padding-left: var(--padding-63xl);
    padding-right: var(--padding-63xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .peopleChooseUs {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .reason04 {
    flex-wrap: wrap;
  }
  .content {
    gap: 56px 28px;
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
  .whyChooseUs {
    gap: 28px 56px;
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .peopleChooseUs {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .organizedTasks {
    font-size: var(--font-size-mid);
    line-height: 26px;
  }
  .reason01 {
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .organizedTasks1 {
    font-size: var(--font-size-mid);
    line-height: 26px;
  }
  .reason02 {
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .organizedTasks2 {
    font-size: var(--font-size-mid);
    line-height: 26px;
  }
  .reason03 {
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .organizedTasks3 {
    font-size: var(--font-size-mid);
    line-height: 26px;
  }
  .reason04 {
    gap: 32px 16px;
  }
}
